.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 98%);
}

/**** Heading Styles ****/
header {
    text-align: center;
    color: hsl(234, 12%, 34%);
    margin-top: 5rem;
    width: 100vw;
}

.heading-1 {
    font-weight: 200;
    font-size: 2.2rem;
}

.heading-2 {
    font-weight: 600;
    margin-top: -1.5rem;
    font-size: 2.2rem;
}

.heading-text {
    font-weight: 200;
    width: 35vw;
    margin: 0 auto;
}

/**** Card Styles ****/
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 15rem);
    align-content: center;
    justify-items: center;
    grid-gap: 2rem;
    width: 60vw;
    margin: 0 auto;
    padding-top: 3rem;
}

.card {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.1);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.card-text {
    color: hsl(229, 6%, 66%);
    font-size: .85rem;
}

.card-icon {
    width: 23%;
    height: auto;
    margin-left: 75%;
    margin-top: 2%;
}

.supervisor {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    align-self: center;
    border-top: 5px solid hsl(180, 62%, 55%);
    height: 13.5rem;
}

.team {
    border-top: 5px solid hsl(0, 78%, 62%);
    height: 13.5rem;
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    height: 13.5rem;
}

.calculator {
    grid-column: 3 / 3;
    grid-row: 1 /  -1;
    align-self: center;
    border-top: 5px solid hsl(212, 86%, 64%);
    height: 13.5rem;
}

@media only screen and (max-width: 1000px) {
    .card-container {
        display: block;
    }
    .card {
        margin-top: 2rem;
    }
    .attribution {
        margin-bottom: 0;
        bottom: auto;
    }
}